<!doctype html>
<title>Colors</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
<div class=page>
  <h1 class="content">Colors</h1>
  <p class="content">Click the tape colors you have. You can click them below the table to remove them. When you click </p>
  <div class="content">
    <table id="color_table">
      <tbody>
      	<tr>
      		<td style="background-color:#FFFFFF"></td>
      		<td style="background-color:#000000"></td>
      		<td style="background-color:#333333"></td>
      		<td style="background-color:#666666"></td>
      		<td style="background-color:#999999"></td>
      		<td style="background-color:#CCCCCC"></td>
      		<td style="background-color:#CCCC99"></td>
      		<td style="background-color:#9999CC"></td>
      		<td style="background-color:#666699"></td>
      	</tr>
      	<tr>
      		<td style="background-color:#660000"></td>
      		<td style="background-color:#663300"></td>
      		<td style="background-color:#996633"></td>
      		<td style="background-color:#003300"></td>
      		<td style="background-color:#003333"></td>
      		<td style="background-color:#003399"></td>
      		<td style="background-color:#000066"></td>
      		<td style="background-color:#330066"></td>
      		<td style="background-color:#660066"></td>
      	</tr>
      	<tr>
      		<td style="background-color:#990000"></td>
      		<td style="background-color:#993300"></td>
      		<td style="background-color:#CC9900"></td>
      		<td style="background-color:#006600"></td>
      		<td style="background-color:#336666"></td>
      		<td style="background-color:#0033FF"></td>
      		<td style="background-color:#000099"></td>
      		<td style="background-color:#660099"></td>
      		<td style="background-color:#990066"></td>
      	</tr>
      	<tr>
      		<td style="background-color:#CC0000"></td>
      		<td style="background-color:#CC3300"></td>
      		<td style="background-color:#FFCC00"></td>
      		<td style="background-color:#009900"></td>
      		<td style="background-color:#006666"></td>
      		<td style="background-color:#0066FF"></td>
      		<td style="background-color:#0000CC"></td>
      		<td style="background-color:#663399"></td>
      		<td style="background-color:#CC0099"></td>
      	</tr>
      	<tr>
      		<td style="background-color:#FF0000"></td>
      		<td style="background-color:#FF3300"></td>
      		<td style="background-color:#FFFF00"></td>
      		<td style="background-color:#00CC00"></td>
      		<td style="background-color:#009999"></td>
      		<td style="background-color:#0099FF"></td>
      		<td style="background-color:#0000FF"></td>
      		<td style="background-color:#9900CC"></td>
      		<td style="background-color:#FF0099"></td>
      	</tr>
      	<tr>
      		<td style="background-color:#CC3333"></td>
      		<td style="background-color:#FF6600"></td>
      		<td style="background-color:#FFFF33"></td>
      		<td style="background-color:#00FF00"></td>
      		<td style="background-color:#00CCCC"></td>
      		<td style="background-color:#00CCFF"></td>
      		<td style="background-color:#3366FF"></td>
      		<td style="background-color:#9933FF"></td>
      		<td style="background-color:#FF00FF"></td>
      	</tr>
      	<tr>
      		<td style="background-color:#FF6666"></td>
      		<td style="background-color:#FF6633"></td>
      		<td style="background-color:#FFFF66"></td>
      		<td style="background-color:#66FF66"></td>
      		<td style="background-color:#66CCCC"></td>
      		<td style="background-color:#00FFFF"></td>
      		<td style="background-color:#3399FF"></td>
      		<td style="background-color:#9966FF"></td>
      		<td style="background-color:#FF66FF"></td>
      	</tr>
      	<tr>
      		<td style="background-color:#FF9999"></td>
      		<td style="background-color:#FF9966"></td>
      		<td style="background-color:#FFFF99"></td>
      		<td style="background-color:#99FF99"></td>
      		<td style="background-color:#66FFCC"></td>
      		<td style="background-color:#99FFFF"></td>
      		<td style="background-color:#66CCFF"></td>
      		<td style="background-color:#9999FF"></td>
      		<td style="background-color:#FF99FF"></td>
      	</tr>
       <tr>
      		<td style="background-color:#FFCCCC"></td>
      		<td style="background-color:#FFCC99"></td>
      		<td style="background-color:#FFFFCC"></td>
      		<td style="background-color:#CCFFCC"></td>
      		<td style="background-color:#99FFCC"></td>
      		<td style="background-color:#CCFFFF"></td>
      		<td style="background-color:#99CCFF"></td>
      		<td style="background-color:#CCCCFF"></td>
      		<td style="background-color:#FFCCFF"></td>
      	</tr>
      </tbody>
    </table>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <table id="palette_table">
      <tr></tr>
    </table>
    <button id="palette_link">get palette</button>
    <button id="clear">clear palette</button>
  </div>
  <script type="text/javascript">
    $(document).ready(function() {
      function get_colors(elem) {
        var cell_colors = [];
        $(elem).each(function() {
          cell_colors.push($(this).css("background-color"));
        });
        return cell_colors
      }

      $("#palette_link").click(function () {
        var color_list = get_colors("#palette_table td");
        if(color_list.length < 2)
        { alert("Add at least two colors"); }
        else {
          $("#result").load("{{ url_for('show_palettes') }}",  { 'color' : color_list });
        }
      });

      $("#clear").click(function () {
        $("#palette_table tr").empty();
      });

      $("#color_table td").click(function() {
        var color = $(this).css("background-color");

        $("#palette_table tr").prepend("<td title=\"Click to remove\"></td>");
        $("#palette_table tr td:first").css("background-color", color);

        if($("#palette_table tr td").length > 16)
        {
          $("#palette_table tr td:last").remove();
        }
      });

      $("#palette_table").on("click", "td", function() {
        $(this).remove();
      });
    });
  </script>
  <div class="result"></div>
</div>
