<!doctype html>
<title>Colors</title>
<div class=page>
  <h1>Colors<h1>
  <div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $('#color_table td').click(function(){});
      });
    </script>
    <table id="color table" style="width:75%">
      <tr>
        <td bgcolor="#000000"></td>
        <td bgcolor="#330000"></td>
        <td bgcolor="#660000"></td>
        <td bgcolor="#990000"></td>
        <td bgcolor="#CC0000"></td>
        <td bgcolor="#FF0000"></td>
      </tr>
      <tr>
        <td bgcolor="#000033"></td>
        <td bgcolor="#330033"></td>
        <td bgcolor="#660033"></td>
        <td bgcolor="#990033"></td>
        <td bgcolor="#CC0033"></td>
        <td bgcolor="#FF0033"></td>
      </tr>
      <tr>
        <td bgcolor="#000066"></td>
        <td bgcolor="#330066"></td>
        <td bgcolor="#660066"></td>
        <td bgcolor="#990066"></td>
        <td bgcolor="#CC0066"></td>
        <td bgcolor="#FF0066"></td>
      </tr>
      <tr>
        <td bgcolor="#000099"></td>
        <td bgcolor="#330099"></td>
        <td bgcolor="#660099"></td>
        <td bgcolor="#990099"></td>
        <td bgcolor="#CC0099"></td>
        <td bgcolor="#FF0099"></td>
      </tr>
      <tr>
        <td bgcolor="#0000CC"></td>
        <td bgcolor="#3300CC"></td>
        <td bgcolor="#6600CC"></td>
        <td bgcolor="#9900CC"></td>
        <td bgcolor="#CC00CC"></td>
        <td bgcolor="#FF00CC"></td>
      </tr>
      <tr>
        <td bgcolor="#0000FF"></td>
        <td bgcolor="#3300FF"></td>
        <td bgcolor="#6600FF"></td>
        <td bgcolor="#9900FF"></td>
        <td bgcolor="#CC00FF"></td>
        <td bgcolor="#FF00FF"></td>
      </tr>
      <tr>
        <td bgcolor="#003300"></td>
        <td bgcolor="#333300"></td>
        <td bgcolor="#663300"></td>
        <td bgcolor="#993300"></td>
        <td bgcolor="#CC3300"></td>
        <td bgcolor="#FF3300"></td>
      </tr>
      <tr>
        <td bgcolor="#003333"></td>
        <td bgcolor="#333333"></td>
        <td bgcolor="#663333"></td>
        <td bgcolor="#993333"></td>
        <td bgcolor="#CC3333"></td>
        <td bgcolor="#FF3333"></td>
      </tr>
      <tr>
        <td bgcolor="#003366"></td>
        <td bgcolor="#333366"></td>
        <td bgcolor="#663366"></td>
        <td bgcolor="#993366"></td>
        <td bgcolor="#CC3366"></td>
        <td bgcolor="#FF3366"></td>
      </tr>
      <tr>
        <td bgcolor="#003399"></td>
        <td bgcolor="#333399"></td>
        <td bgcolor="#663399"></td>
        <td bgcolor="#993399"></td>
        <td bgcolor="#CC3399"></td>
        <td bgcolor="#FF3399"></td>
      </tr>
      <tr>
        <td bgcolor="#0033CC"></td>
        <td bgcolor="#3333CC"></td>
        <td bgcolor="#6633CC"></td>
        <td bgcolor="#9933CC"></td>
        <td bgcolor="#CC33CC"></td>
        <td bgcolor="#FF33CC"></td>
      </tr>
      <tr>
        <td bgcolor="#0033FF"></td>
        <td bgcolor="#3333FF"></td>
        <td bgcolor="#6633FF"></td>
        <td bgcolor="#9933FF"></td>
        <td bgcolor="#CC33FF"></td>
        <td bgcolor="#FF33FF"></td>
      </tr>
      <tr>
        <td bgcolor="#006600"></td>
        <td bgcolor="#336600"></td>
        <td bgcolor="#666600"></td>
        <td bgcolor="#996600"></td>
        <td bgcolor="#CC6600"></td>
        <td bgcolor="#FF6600"></td>
      </tr>
      <tr>
        <td bgcolor="#006633"></td>
        <td bgcolor="#336633"></td>
        <td bgcolor="#666633"></td>
        <td bgcolor="#996633"></td>
        <td bgcolor="#CC6633"></td>
        <td bgcolor="#FF6633"></td>
      </tr>
      <tr>
        <td bgcolor="#006666"></td>
        <td bgcolor="#336666"></td>
        <td bgcolor="#666666"></td>
        <td bgcolor="#996666"></td>
        <td bgcolor="#CC6666"></td>
        <td bgcolor="#FF6666"></td>
      </tr>
      <tr>
        <td bgcolor="#006699"></td>
        <td bgcolor="#336699"></td>
        <td bgcolor="#666699"></td>
        <td bgcolor="#996699"></td>
        <td bgcolor="#CC6699"></td>
        <td bgcolor="#FF6699"></td>
      </tr>
      <tr>
        <td bgcolor="#0066CC"></td>
        <td bgcolor="#3366CC"></td>
        <td bgcolor="#6666CC"></td>
        <td bgcolor="#9966CC"></td>
        <td bgcolor="#CC66CC"></td>
        <td bgcolor="#FF66CC"></td>
      </tr>
      <tr>
        <td bgcolor="#0066FF"></td>
        <td bgcolor="#3366FF"></td>
        <td bgcolor="#6666FF"></td>
        <td bgcolor="#9966FF"></td>
        <td bgcolor="#CC66FF"></td>
        <td bgcolor="#FF66FF"></td>
      </tr>
      <tr>
        <td bgcolor="#009900"></td>
        <td bgcolor="#339900"></td>
        <td bgcolor="#669900"></td>
        <td bgcolor="#999900"></td>
        <td bgcolor="#CC9900"></td>
        <td bgcolor="#FF9900"></td>
      </tr>
      <tr>
        <td bgcolor="#009933"></td>
        <td bgcolor="#339933"></td>
        <td bgcolor="#669933"></td>
        <td bgcolor="#999933"></td>
        <td bgcolor="#CC9933"></td>
        <td bgcolor="#FF9933"></td>
      </tr>
      <tr>
        <td bgcolor="#009966"></td>
        <td bgcolor="#339966"></td>
        <td bgcolor="#669966"></td>
        <td bgcolor="#999966"></td>
        <td bgcolor="#CC9966"></td>
        <td bgcolor="#FF9966"></td>
      </tr>
      <tr>
        <td bgcolor="#009999"></td>
        <td bgcolor="#339999"></td>
        <td bgcolor="#669999"></td>
        <td bgcolor="#999999"></td>
        <td bgcolor="#CC9999"></td>
        <td bgcolor="#FF9999"></td>
      </tr>
      <tr>
        <td bgcolor="#0099CC"></td>
        <td bgcolor="#3399CC"></td>
        <td bgcolor="#6699CC"></td>
        <td bgcolor="#9999CC"></td>
        <td bgcolor="#CC99CC"></td>
        <td bgcolor="#FF99CC"></td>
      </tr>
      <tr>
        <td bgcolor="#0099FF"></td>
        <td bgcolor="#3399FF"></td>
        <td bgcolor="#6699FF"></td>
        <td bgcolor="#9999FF"></td>
        <td bgcolor="#CC99FF"></td>
        <td bgcolor="#FF99FF"></td>
      </tr>
      <tr>
        <td bgcolor="#00CC00"></td>
        <td bgcolor="#33CC00"></td>
        <td bgcolor="#66CC00"></td>
        <td bgcolor="#99CC00"></td>
        <td bgcolor="#CCCC00"></td>
        <td bgcolor="#FFCC00"></td>
      </tr>
      <tr>
        <td bgcolor="#00CC33"></td>
        <td bgcolor="#33CC33"></td>
        <td bgcolor="#66CC33"></td>
        <td bgcolor="#99CC33"></td>
        <td bgcolor="#CCCC33"></td>
        <td bgcolor="#FFCC33"></td>
      </tr>
      <tr>
        <td bgcolor="#00CC66"></td>
        <td bgcolor="#33CC66"></td>
        <td bgcolor="#66CC66"></td>
        <td bgcolor="#99CC66"></td>
        <td bgcolor="#CCCC66"></td>
        <td bgcolor="#FFCC66"></td>
      </tr>
      <tr>
        <td bgcolor="#00CC99"></td>
        <td bgcolor="#33CC99"></td>
        <td bgcolor="#66CC99"></td>
        <td bgcolor="#99CC99"></td>
        <td bgcolor="#CCCC99"></td>
        <td bgcolor="#FFCC99"></td>
      </tr>
      <tr>
        <td bgcolor="#00CCCC"></td>
        <td bgcolor="#33CCCC"></td>
        <td bgcolor="#66CCCC"></td>
        <td bgcolor="#99CCCC"></td>
        <td bgcolor="#CCCCCC"></td>
        <td bgcolor="#FFCCCC"></td>
      </tr>
      <tr>
        <td bgcolor="#00CCFF"></td>
        <td bgcolor="#33CCFF"></td>
        <td bgcolor="#66CCFF"></td>
        <td bgcolor="#99CCFF"></td>
        <td bgcolor="#CCCCFF"></td>
        <td bgcolor="#FFCCFF"></td>
      </tr>
      <tr>
        <td bgcolor="#00FF00"></td>
        <td bgcolor="#33FF00"></td>
        <td bgcolor="#66FF00"></td>
        <td bgcolor="#99FF00"></td>
        <td bgcolor="#CCFF00"></td>
        <td bgcolor="#FFFF00"></td>
      </tr>
      <tr>
        <td bgcolor="#00FF33"></td>
        <td bgcolor="#33FF33"></td>
        <td bgcolor="#66FF33"></td>
        <td bgcolor="#99FF33"></td>
        <td bgcolor="#CCFF33"></td>
        <td bgcolor="#FFFF33"></td>
      </tr>
      <tr>
        <td bgcolor="#00FF66"></td>
        <td bgcolor="#33FF66"></td>
        <td bgcolor="#66FF66"></td>
        <td bgcolor="#99FF66"></td>
        <td bgcolor="#CCFF66"></td>
        <td bgcolor="#FFFF66"></td>
      </tr>
      <tr>
        <td bgcolor="#00FF99"></td>
        <td bgcolor="#33FF99"></td>
        <td bgcolor="#66FF99"></td>
        <td bgcolor="#99FF99"></td>
        <td bgcolor="#CCFF99"></td>
        <td bgcolor="#FFFF99"></td>
      </tr>
      <tr>
        <td bgcolor="#00FFCC"></td>
        <td bgcolor="#33FFCC"></td>
        <td bgcolor="#66FFCC"></td>
        <td bgcolor="#99FFCC"></td>
        <td bgcolor="#CCFFCC"></td>
        <td bgcolor="#FFFFCC"></td>
      </tr>
      <tr>
        <td bgcolor="#00FFFF"></td>
        <td bgcolor="#33FFFF"></td>
        <td bgcolor="#66FFFF"></td>
        <td bgcolor="#99FFFF"></td>
        <td bgcolor="#CCFFFF"></td>
        <td bgcolor="#FFFFFF"></td>
      </tr>
    </table>
  </div>
  {% block body %}{% endblock %}
<div>
